.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ffa500;
}
.tours .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.tours .card img{
    border-radius: 5px;
}
.tours .card .card-body{
    background: transparent;
}
.tours .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.tours .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.tours .card .card-body h6{
    font-size: 20px;
}
.tours .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
}